@charset "UTF-8";
/* stylelint-disable color-hex-length */

/*
 * Navigation bar identity.
 */
.navbar-light {
    background-color: #fff;
    border-bottom: $border-width solid #e5e5e5;

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: $spacer * 2;
        color: #fff;
        background-color: $brand-primary;
        @include hover-focus {
            color: #fff;
        }
        &.has-logo {
            color: $brand-primary;
            background-color: transparent;
            @include hover-focus {
                color: $brand-primary;
            }
            padding-top: 0;
        }
    }

    .navbar-nav {
        .nav-item + .nav-item {
            margin-left: $spacer * 2;
        }
        .nav-link {
            font-size: $font-size-sm;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

/**
 * Styling the dropdown menus.
 */
.dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    .dropdown-item {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: $border-width solid $dropdown-border-color;
        &:last-child {
            border-bottom: 0;
        }
    }
    .dropdown-divider {
        display: none;
    }
}

/**
 * User picture.
 */
.userpicture {
    border-radius: 50%;
}

/**
 * For background in content areas.
 */
#page.container-fluid {
    padding: 0 (2 * $spacer);
}

#block-region-side-pre {
    padding-left: 0;
}

/**
 * Dashboard styling.
 */
#page-my-index {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
}

/**
 * Blocks.
 */
.block-region .card-block {
    .card-title {
        padding-bottom: ($spacer/2);
        font-size: 1.143rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

/**
 * Navigation.
 */
.block_navigation,
.block_settings {
    .block_tree .tree_item {
        margin: ($spacer/2) 0;
    }
}

/**
 * Form styles.
 */

.form-group {
    margin-top: ($spacer/2);
}

.form-inline .form-group {
    margin-top: 0;
}

/* CALL Learning Customisations */

/*
 * Drawer customisation (to the right)
 */
#nav-drawer {
    right: 0;
    left: auto;
}

.usermenu {
    margin-right: 30px;
    font-size: 14px;
    color: #808184;
    span.login {
        font-variant-caps: all-small-caps;
        a:hover {
            text-decoration: none;
            color: #0c0c0c;
        }
        span.login-item {
            padding-left: 1em;
        }
    }
}

/* Logo customisation */
/** Header. */
header {
    .logo img {
        width: 161px;
        height: 39px;
        object-fit: contain;
    }
    .navbar-nav button i.icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}

/**
 * Page header font
 */
#page-header {

    .page-header-headings, .breadcrumb-nav {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        a {
            color: white;
            text-shadow: none;
        }
        a:hover, a:visited {
            color: #ffeeee;
        }
    }

}

body {
    background-color: #f6f8ff;
    background-image: url([[pix:theme|globalbg]]);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;

    &.pagelayout-course #region-main,
    &.pagelayout-coursecategory #region-main,
    &.pagelayout-mydashboard #region-main {
        margin-top: -50px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
        box-shadow: 0 24px 24px 0 rgba(62, 8, 41, 0.1);
        .card {
            border: none;
            &:first-child {
                padding-top: 50px;
            }
        }
        &.has-blocks {
            width: calc(95% - 300px);
        }
    }
    #page-header .card {
        /**setting:coverimage**/
        background-size: cover;
        background-position-y: bottom;
        background-position-x: center;
        min-height: 210px;
        box-shadow: 0 24px 24px 0 rgba(62, 8, 41, 0.1);
    }
    /* Cover image - different image for frontpage  */
    &.pagelayout-frontpage #page-header .card {

        /**setting:coverimagefp**/
        min-height: 500px;
    }
    /* Front page specific */
    &.pagelayout-frontpage {

        #page-header {
            .site-frontpage-slogan {
                padding-top: 3vh;
                color: white;
                padding-left: 55%;
                h3 {
                    font-size: 3rem;
                    font-variant: all-small-caps;
                    font-weight: bold;
                    text-shadow: 0.5px 0 black, 0 0.4px black, 0.5px 0 black, 0 -0.5px black;
                }
                p {
                    font-size: 2.5rem;
                    font-weight: normal;
                    text-shadow: 0.5px 0 black, 0 0.4px black, 0.5px 0 black, 0 -0.5px black;
                }
            }
            a.connect-button, a.connect-button:visited {
                padding: 0.3em;
                border: solid 1px white;
                text-transform: uppercase;
                font-size: 2.5em;
                border-radius: 0.4em;
                min-width: 280px;
                display: inline-block;
                text-align: center;
                background: rgba(0, 0, 0, 0.1);
                color: white;
            }
            a.connect-button:hover {
                text-decoration: none;
                color: white;
                background: rgba(0, 0, 0, 0.2);
            }
            @include media-breakpoint-down(md) {
                .site-frontpage-slogan {
                    padding-left: 0;
                    h3 {
                        font-size: 2.5rem;
                    }
                    p {
                        font-size: 1.5rem;
                    }
                }
                a.connect-button, a.connect-button:visited {
                    font-size: 1rem;
                }
            }

        }
        #region-main {
            width: 100%;
            background: transparent;
            overflow: visible;
            border: none;
            .card {
                div[role="main"] {
                    margin-top: -80px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 95%;
                    box-shadow: 0 24px 24px 0 rgba(62, 8, 41, 0.1);
                    margin-bottom: 100px !important;
                    background: white;
                    padding: 2em;
                    padding-top: 80px;
                }
                background: transparent;
                border: none;
                overflow: visible;
                min-height: auto;
            }
            [data-region="blocks-column"] {
                width: 100%;
                float: none;
                section.card {
                    position: relative;
                    width: 100%;
                    padding: 1em 1.5em;
                    margin: 2em auto;
                    box-shadow: 0 24px 24px 0 transparentize(lighten($primary, 60%), 5%);
                    background: lighten($primary, 70%);
                    // Style it with a rounded corder
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-width: 0 48px 48px 0;
                        border-style: solid;
                        border-color: #fff $gray-100 $primary $secondary;
                        background: $primary;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
                        border-radius: 0 0 0 5px;
                    }
                }
            }
        }
    }


}


// Prepare for main content block to be placed oved the header

#page-footer {
    .container {
        display: flex;
        flex-flow: row wrap;

        .sitelink {
            font-weight: normal;
            text-transform: capitalize;
            color: #999999;

            a, a:visited, a:hover {
                text-decoration: none;
            }
        }

        > * {
            padding-right: 1rem;
            flex: 1 1 auto;
        }
        > *:empty {
            padding-right: 0px;
            flex: 0 0 auto;
        }
    }
}

/* Course content */

.course-content {
    .section {
        .section-title {
            a:first-child {
                color: #4a90e2;
                font-weight: bold;
            }
        }
        .summarytext {
            display: none;
        }
    }
    .single-section {
        .sectionname {
            font-size: 2.5rem;
            color: #2b2d36;
            text-align: left;
        }
    }
}

/* Change the position of the menu (edit mode) */

#region-main-settings-menu > div {
    right: -2em;
    margin: 1rem;
    top: -2em;
    background-color: $gray-100;
}

.context-header-settings-menu {
    .dropdown-toggle > i {
        color: white;
    }
}

a.course-card-link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    span.h5.course-title {
        color: white;
    }
}

/* Footer */
#page-footer.bg-dark {
}

/** Login page logo */

#page-login-index .card-header.text-center img {
    max-width: 100%;
}
// Usermenu
@include media-breakpoint-down(md) {
    .usermenu {
        .login {
            line-height: normal;
        }
    }
}

// Content customisation

.qn-question {
    background-color: #ffe;
}


// In course, book content and lesson style for headers and preformatted
li.activity,
.book_content,
#page-mod-page-view div[role='main'],
#page-mod-lesson-view div[role='main'] {
    h3 {
        background: #002182;
        color: white;
        padding: 0.2em;
    }
    h3,
    h4,
    h5 {
        margin-bottom: 0.5em;
    }
    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }
    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    blockquote p {
        display: inline;
    }
}

// Dashboard adjustments

// Hide timeline
div.block-myoverview ul li:first-child {
    display: none;
}
// Add padding so blocks are aligned at the top
.pagelayout-mydashboard #region-main .card {
    padding-top: 50px;
}

// Make sure that notification appears and is not hidden by top bar

.notifytiny {
    padding-top: 50px;
}