@charset "UTF-8";

/* 3.5 styles */
.alert-ios [aria-checked=true] .alert-radio-label {
    color: #e0001f;
}
.alert-ios [aria-checked=true] .alert-radio-inner {
    border-color: #e0001f;
}
.alert-ios [aria-checked=true] .alert-checkbox-icon {
    border-color: #e0001f;
    background-color: #e0001f;
}
.alert-ios .alert-button {
    color: #e0001f;
}
.alert-md .alert-input:focus {
    border-bottom: 2px solid #e0001f;
}
.alert-md .alert-radio-inner {
    background-color: #e0001f;
}
.alert-md [aria-checked=true] .alert-radio-label {
    color: #e0001f;
}
.alert-md [aria-checked=true] .alert-radio-icon {
    border-color: #e0001f;
}
.alert-md [aria-checked=true] .alert-checkbox-icon {
    border-color: #e0001f;
    background-color: #e0001f;
}
.alert-md .alert-button {
    color: #e0001f;
}
.alert-wp .alert-wrapper {
    border: 1px solid #e0001f;
}
.alert-wp .alert-input:focus {
    border-color: #e0001f;
}
.alert-wp .alert-radio-inner {
    background: #e0001f;
}
.alert-wp [aria-checked=true] .alert-checkbox-icon {
    border-color: #e0001f;
    background: #e0001f;
}
a {
    color: #002182;
}
.badge-ios {
    background-color: #e0001f;
}
.badge-ios-primary {
    background-color: #e0001f;
}
.badge-ios-info {
    background-color: #002182;
}
.badge-md {
    background-color: #e0001f;
}
.badge-md-primary {
    background-color: #e0001f;
}
.badge-md-info {
    background-color: #002182;
}
.badge-wp {
    background-color: #e0001f;
}
.badge-wp-primary {
    background-color: #e0001f;
}
.badge-wp-info {
    background-color: #002182;
}
.button-ios {
    background-color: #e0001f;
}
.button-ios.activated {
    background-color: #e21431;
}
.button-outline-ios {
    border-color: #e0001f;
    color: #e0001f;
}
.button-outline-ios.activated {
    background-color: #e0001f;
}
.button-clear-ios {
    color: #e0001f;
}
.button-clear-ios:hover:not(.disable-hover) {
    color: #e0001f;
}
.button-ios-primary {
    background-color: #e0001f;
}
.button-ios-primary.activated {
    background-color: #e21431;
}
.button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.button-clear-ios-primary {
    color: #e0001f;
}
.button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.button-ios-info {
    background-color: #002182;
}
.button-ios-info.activated {
    background-color: #14338c;
}
.button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.button-outline-ios-info.activated {
    background-color: #002182;
}
.button-clear-ios-info {
    color: #002182;
}
.button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.button-md {
    background-color: #e0001f;
}
.button-md:hover:not(.disable-hover) {
    background-color: #e0001f;
}
.button-md.activated {
    background-color: #e21431;
}
.button-outline-md {
    border-color: #e0001f;
    color: #e0001f;
}
.button-outline-md .button-effect {
    background-color: #e0001f;
}
.button-clear-md {
    color: #e0001f;
}
.button-md-primary {
    background-color: #e0001f;
}
.button-md-primary:hover:not(.disable-hover) {
    background-color: #e0001f;
}
.button-md-primary.activated {
    background-color: #e21431;
}
.button-outline-md-primary {
    border-color: #e20d2a;
    color: #e20d2a;
}
.button-outline-md-primary .button-effect {
    background-color: #e20d2a;
}
.button-clear-md-primary {
    color: #e0001f;
}
.button-clear-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.button-md-info {
    background-color: #002182;
}
.button-md-info:hover:not(.disable-hover) {
    background-color: #002182;
}
.button-md-info.activated {
    background-color: #14338c;
}
.button-outline-md-info {
    border-color: #0d2c88;
    color: #0d2c88;
}
.button-outline-md-info .button-effect {
    background-color: #0d2c88;
}
.button-clear-md-info {
    color: #002182;
}
.button-clear-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.button-wp {
    background-color: #e0001f;
}
.button-wp:hover:not(.disable-hover) {
    border-color: #e21431;
    background-color: #e0001f;
}
.button-wp.activated {
    background-color: #e21431;
}
.button-outline-wp {
    border-color: #e0001f;
    color: #e0001f;
}
.button-outline-wp.activated {
    background-color: rgba(224, 0, 31, 0.16);
}
.button-clear-wp {
    color: #e0001f;
}
.button-wp-primary {
    background-color: #e0001f;
}
.button-wp-primary:hover:not(.disable-hover) {
    border-color: #e21431;
    background-color: #e0001f;
}
.button-wp-primary.activated {
    background-color: #e21431;
}
.button-outline-wp-primary {
    border-color: #e20d2a;
    color: #e20d2a;
}
.button-outline-wp-primary:hover:not(.disable-hover) {
    border-color: #e20d2a;
}
.button-outline-wp-primary.activated {
    background-color: rgba(226, 13, 42, 0.16);
}
.button-clear-wp-primary {
    color: #e0001f;
}
.button-clear-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.button-wp-info {
    background-color: #002182;
}
.button-wp-info:hover:not(.disable-hover) {
    border-color: #14338c;
    background-color: #002182;
}
.button-wp-info.activated {
    background-color: #14338c;
}
.button-outline-wp-info {
    border-color: #0d2c88;
    color: #0d2c88;
}
.button-outline-wp-info:hover:not(.disable-hover) {
    border-color: #0d2c88;
}
.button-outline-wp-info.activated {
    background-color: rgba(13, 44, 136, 0.16);
}
.button-clear-wp-info {
    color: #002182;
}
.button-clear-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.card-ios .text-ios-primary, ion-app.app-root.ios .core-primary-card .text-ios-primary, ion-app.app-root.ios .core-secondary-card .text-ios-primary, ion-app.app-root.ios .core-danger-card .text-ios-primary, ion-app.app-root.ios .core-light-card .text-ios-primary, ion-app.app-root.ios .core-gray-card .text-ios-primary, ion-app.app-root.ios .core-dark-card .text-ios-primary, ion-app.app-root.ios .core-warning-card .text-ios-primary, ion-app.app-root.ios .core-success-card .text-ios-primary, ion-app.app-root.ios .core-info-card .text-ios-primary {
    color: #e0001f;
}
.card-ios-primary {
    background-color: #e0001f;
}
.card-ios-primary .text-ios-primary,
.card-ios-primary .card-header-ios-primary,
.card-ios-primary .card-title-ios-primary,
.card-ios-primary .card-content-ios-primary {
    color: #e0001f;
}
.card-ios-primary .text-ios-info,
.card-ios-primary .card-header-ios-info,
.card-ios-primary .card-title-ios-info,
.card-ios-primary .card-content-ios-info {
    color: #002182;
}
.card-header-ios-primary,
.card-title-ios-primary,
.card-content-ios-primary {
    color: #e0001f;
}
.card-ios-secondary .text-ios-primary,
.card-ios-secondary .card-header-ios-primary,
.card-ios-secondary .card-title-ios-primary,
.card-ios-secondary .card-content-ios-primary {
    color: #e0001f;
}
.card-ios-secondary .text-ios-info,
.card-ios-secondary .card-header-ios-info,
.card-ios-secondary .card-title-ios-info,
.card-ios-secondary .card-content-ios-info {
    color: #002182;
}
.card-ios-danger .text-ios-primary,
.card-ios-danger .card-header-ios-primary,
.card-ios-danger .card-title-ios-primary,
.card-ios-danger .card-content-ios-primary {
    color: #e0001f;
}
.card-ios-danger .text-ios-info,
.card-ios-danger .card-header-ios-info,
.card-ios-danger .card-title-ios-info,
.card-ios-danger .card-content-ios-info {
    color: #002182;
}
.card-ios-light .text-ios-primary,
.card-ios-light .card-header-ios-primary,
.card-ios-light .card-title-ios-primary,
.card-ios-light .card-content-ios-primary {
    color: #e0001f;
}
.card-ios-light .text-ios-info,
.card-ios-light .card-header-ios-info,
.card-ios-light .card-title-ios-info,
.card-ios-light .card-content-ios-info {
    color: #002182;
}
.card-ios-gray .text-ios-primary,
.card-ios-gray .card-header-ios-primary,
.card-ios-gray .card-title-ios-primary,
.card-ios-gray .card-content-ios-primary {
    color: #e0001f;
}
.card-ios-gray .text-ios-info,
.card-ios-gray .card-header-ios-info,
.card-ios-gray .card-title-ios-info,
.card-ios-gray .card-content-ios-info {
    color: #002182;
}
.card-ios-dark .text-ios-primary,
.card-ios-dark .card-header-ios-primary,
.card-ios-dark .card-title-ios-primary,
.card-ios-dark .card-content-ios-primary {
    color: #e0001f;
}
.card-ios-dark .text-ios-info,
.card-ios-dark .card-header-ios-info,
.card-ios-dark .card-title-ios-info,
.card-ios-dark .card-content-ios-info {
    color: #002182;
}
.card-ios-warning .text-ios-primary,
.card-ios-warning .card-header-ios-primary,
.card-ios-warning .card-title-ios-primary,
.card-ios-warning .card-content-ios-primary {
    color: #e0001f;
}
.card-ios-warning .text-ios-info,
.card-ios-warning .card-header-ios-info,
.card-ios-warning .card-title-ios-info,
.card-ios-warning .card-content-ios-info {
    color: #002182;
}
.card-ios-success .text-ios-primary,
.card-ios-success .card-header-ios-primary,
.card-ios-success .card-title-ios-primary,
.card-ios-success .card-content-ios-primary {
    color: #e0001f;
}
.card-ios-success .text-ios-info,
.card-ios-success .card-header-ios-info,
.card-ios-success .card-title-ios-info,
.card-ios-success .card-content-ios-info {
    color: #002182;
}
.card-ios .text-ios-info, ion-app.app-root.ios .core-primary-card .text-ios-info, ion-app.app-root.ios .core-secondary-card .text-ios-info, ion-app.app-root.ios .core-danger-card .text-ios-info, ion-app.app-root.ios .core-light-card .text-ios-info, ion-app.app-root.ios .core-gray-card .text-ios-info, ion-app.app-root.ios .core-dark-card .text-ios-info, ion-app.app-root.ios .core-warning-card .text-ios-info, ion-app.app-root.ios .core-success-card .text-ios-info, ion-app.app-root.ios .core-info-card .text-ios-info {
    color: #002182;
}
.card-ios-info {
    background-color: #002182;
}
.card-ios-info .text-ios-primary,
.card-ios-info .card-header-ios-primary,
.card-ios-info .card-title-ios-primary,
.card-ios-info .card-content-ios-primary {
    color: #e0001f;
}
.card-ios-info .text-ios-info,
.card-ios-info .card-header-ios-info,
.card-ios-info .card-title-ios-info,
.card-ios-info .card-content-ios-info {
    color: #002182;
}
.card-header-ios-info,
.card-title-ios-info,
.card-content-ios-info {
    color: #002182;
}
.card-md .text-md-primary, ion-app.app-root.md .core-primary-card .text-md-primary, ion-app.app-root.md .core-secondary-card .text-md-primary, ion-app.app-root.md .core-danger-card .text-md-primary, ion-app.app-root.md .core-light-card .text-md-primary, ion-app.app-root.md .core-gray-card .text-md-primary, ion-app.app-root.md .core-dark-card .text-md-primary, ion-app.app-root.md .core-warning-card .text-md-primary, ion-app.app-root.md .core-success-card .text-md-primary, ion-app.app-root.md .core-info-card .text-md-primary {
    color: #e0001f;
}
.card-md-primary {
    background-color: #e0001f;
}
.card-md-primary .text-md-primary,
.card-md-primary .card-header-md-primary,
.card-md-primary .card-title-md-primary,
.card-md-primary .card-content-md-primary {
    color: #e0001f;
}
.card-md-primary .text-md-info,
.card-md-primary .card-header-md-info,
.card-md-primary .card-title-md-info,
.card-md-primary .card-content-md-info {
    color: #002182;
}
.card-header-md-primary,
.card-title-md-primary,
.card-content-md-primary {
    color: #e0001f;
}
.card-md-secondary .text-md-primary,
.card-md-secondary .card-header-md-primary,
.card-md-secondary .card-title-md-primary,
.card-md-secondary .card-content-md-primary {
    color: #e0001f;
}
.card-md-secondary .text-md-info,
.card-md-secondary .card-header-md-info,
.card-md-secondary .card-title-md-info,
.card-md-secondary .card-content-md-info {
    color: #002182;
}
.card-md-danger .text-md-primary,
.card-md-danger .card-header-md-primary,
.card-md-danger .card-title-md-primary,
.card-md-danger .card-content-md-primary {
    color: #e0001f;
}
.card-md-danger .text-md-info,
.card-md-danger .card-header-md-info,
.card-md-danger .card-title-md-info,
.card-md-danger .card-content-md-info {
    color: #002182;
}
.card-md-light .text-md-primary,
.card-md-light .card-header-md-primary,
.card-md-light .card-title-md-primary,
.card-md-light .card-content-md-primary {
    color: #e0001f;
}
.card-md-light .text-md-info,
.card-md-light .card-header-md-info,
.card-md-light .card-title-md-info,
.card-md-light .card-content-md-info {
    color: #002182;
}
.card-md-gray .text-md-primary,
.card-md-gray .card-header-md-primary,
.card-md-gray .card-title-md-primary,
.card-md-gray .card-content-md-primary {
    color: #e0001f;
}
.card-md-gray .text-md-info,
.card-md-gray .card-header-md-info,
.card-md-gray .card-title-md-info,
.card-md-gray .card-content-md-info {
    color: #002182;
}
.card-md-dark .text-md-primary,
.card-md-dark .card-header-md-primary,
.card-md-dark .card-title-md-primary,
.card-md-dark .card-content-md-primary {
    color: #e0001f;
}
.card-md-dark .text-md-info,
.card-md-dark .card-header-md-info,
.card-md-dark .card-title-md-info,
.card-md-dark .card-content-md-info {
    color: #002182;
}
.card-md-warning .text-md-primary,
.card-md-warning .card-header-md-primary,
.card-md-warning .card-title-md-primary,
.card-md-warning .card-content-md-primary {
    color: #e0001f;
}
.card-md-warning .text-md-info,
.card-md-warning .card-header-md-info,
.card-md-warning .card-title-md-info,
.card-md-warning .card-content-md-info {
    color: #002182;
}
.card-md-success .text-md-primary,
.card-md-success .card-header-md-primary,
.card-md-success .card-title-md-primary,
.card-md-success .card-content-md-primary {
    color: #e0001f;
}
.card-md-success .text-md-info,
.card-md-success .card-header-md-info,
.card-md-success .card-title-md-info,
.card-md-success .card-content-md-info {
    color: #002182;
}
.card-md .text-md-info, ion-app.app-root.md .core-primary-card .text-md-info, ion-app.app-root.md .core-secondary-card .text-md-info, ion-app.app-root.md .core-danger-card .text-md-info, ion-app.app-root.md .core-light-card .text-md-info, ion-app.app-root.md .core-gray-card .text-md-info, ion-app.app-root.md .core-dark-card .text-md-info, ion-app.app-root.md .core-warning-card .text-md-info, ion-app.app-root.md .core-success-card .text-md-info, ion-app.app-root.md .core-info-card .text-md-info {
    color: #002182;
}
.card-md-info {
    background-color: #002182;
}
.card-md-info .text-md-primary,
.card-md-info .card-header-md-primary,
.card-md-info .card-title-md-primary,
.card-md-info .card-content-md-primary {
    color: #e0001f;
}
.card-md-info .text-md-info,
.card-md-info .card-header-md-info,
.card-md-info .card-title-md-info,
.card-md-info .card-content-md-info {
    color: #002182;
}
.card-header-md-info,
.card-title-md-info,
.card-content-md-info {
    color: #002182;
}
.card-wp .text-wp-primary, ion-app.app-root.wp .core-primary-card .text-wp-primary, ion-app.app-root.wp .core-secondary-card .text-wp-primary, ion-app.app-root.wp .core-danger-card .text-wp-primary, ion-app.app-root.wp .core-light-card .text-wp-primary, ion-app.app-root.wp .core-gray-card .text-wp-primary, ion-app.app-root.wp .core-dark-card .text-wp-primary, ion-app.app-root.wp .core-warning-card .text-wp-primary, ion-app.app-root.wp .core-success-card .text-wp-primary, ion-app.app-root.wp .core-info-card .text-wp-primary {
    color: #e0001f;
}
.card-wp-primary {
    background-color: #e0001f;
}
.card-wp-primary .text-wp-primary,
.card-wp-primary .card-header-wp-primary,
.card-wp-primary .card-title-wp-primary,
.card-wp-primary .card-content-wp-primary {
    color: #e0001f;
}
.card-wp-primary .text-wp-info,
.card-wp-primary .card-header-wp-info,
.card-wp-primary .card-title-wp-info,
.card-wp-primary .card-content-wp-info {
    color: #002182;
}
.card-header-wp-primary,
.card-title-wp-primary,
.card-content-wp-primary {
    color: #e0001f;
}
.card-wp-secondary .text-wp-primary,
.card-wp-secondary .card-header-wp-primary,
.card-wp-secondary .card-title-wp-primary,
.card-wp-secondary .card-content-wp-primary {
    color: #e0001f;
}
.card-wp-secondary .text-wp-info,
.card-wp-secondary .card-header-wp-info,
.card-wp-secondary .card-title-wp-info,
.card-wp-secondary .card-content-wp-info {
    color: #002182;
}
.card-wp-danger .text-wp-primary,
.card-wp-danger .card-header-wp-primary,
.card-wp-danger .card-title-wp-primary,
.card-wp-danger .card-content-wp-primary {
    color: #e0001f;
}
.card-wp-danger .text-wp-info,
.card-wp-danger .card-header-wp-info,
.card-wp-danger .card-title-wp-info,
.card-wp-danger .card-content-wp-info {
    color: #002182;
}
.card-wp-light .text-wp-primary,
.card-wp-light .card-header-wp-primary,
.card-wp-light .card-title-wp-primary,
.card-wp-light .card-content-wp-primary {
    color: #e0001f;
}
.card-wp-light .text-wp-info,
.card-wp-light .card-header-wp-info,
.card-wp-light .card-title-wp-info,
.card-wp-light .card-content-wp-info {
    color: #002182;
}
.card-wp-gray .text-wp-primary,
.card-wp-gray .card-header-wp-primary,
.card-wp-gray .card-title-wp-primary,
.card-wp-gray .card-content-wp-primary {
    color: #e0001f;
}
.card-wp-gray .text-wp-info,
.card-wp-gray .card-header-wp-info,
.card-wp-gray .card-title-wp-info,
.card-wp-gray .card-content-wp-info {
    color: #002182;
}
.card-wp-dark .text-wp-primary,
.card-wp-dark .card-header-wp-primary,
.card-wp-dark .card-title-wp-primary,
.card-wp-dark .card-content-wp-primary {
    color: #e0001f;
}
.card-wp-dark .text-wp-info,
.card-wp-dark .card-header-wp-info,
.card-wp-dark .card-title-wp-info,
.card-wp-dark .card-content-wp-info {
    color: #002182;
}
.card-wp-warning .text-wp-primary,
.card-wp-warning .card-header-wp-primary,
.card-wp-warning .card-title-wp-primary,
.card-wp-warning .card-content-wp-primary {
    color: #e0001f;
}
.card-wp-warning .text-wp-info,
.card-wp-warning .card-header-wp-info,
.card-wp-warning .card-title-wp-info,
.card-wp-warning .card-content-wp-info {
    color: #002182;
}
.card-wp-success .text-wp-primary,
.card-wp-success .card-header-wp-primary,
.card-wp-success .card-title-wp-primary,
.card-wp-success .card-content-wp-primary {
    color: #e0001f;
}
.card-wp-success .text-wp-info,
.card-wp-success .card-header-wp-info,
.card-wp-success .card-title-wp-info,
.card-wp-success .card-content-wp-info {
    color: #002182;
}
.card-wp .text-wp-info, ion-app.app-root.wp .core-primary-card .text-wp-info, ion-app.app-root.wp .core-secondary-card .text-wp-info, ion-app.app-root.wp .core-danger-card .text-wp-info, ion-app.app-root.wp .core-light-card .text-wp-info, ion-app.app-root.wp .core-gray-card .text-wp-info, ion-app.app-root.wp .core-dark-card .text-wp-info, ion-app.app-root.wp .core-warning-card .text-wp-info, ion-app.app-root.wp .core-success-card .text-wp-info, ion-app.app-root.wp .core-info-card .text-wp-info {
    color: #002182;
}
.card-wp-info {
    background-color: #002182;
}
.card-wp-info .text-wp-primary,
.card-wp-info .card-header-wp-primary,
.card-wp-info .card-title-wp-primary,
.card-wp-info .card-content-wp-primary {
    color: #e0001f;
}
.card-wp-info .text-wp-info,
.card-wp-info .card-header-wp-info,
.card-wp-info .card-title-wp-info,
.card-wp-info .card-content-wp-info {
    color: #002182;
}
.card-header-wp-info,
.card-title-wp-info,
.card-content-wp-info {
    color: #002182;
}
.checkbox-ios .checkbox-checked {
    border-color: #e0001f;
    background-color: #e0001f;
}
.checkbox-ios-primary .checkbox-checked {
    border-color: #e0001f;
    background-color: #e0001f;
}
.checkbox-ios-info .checkbox-checked {
    border-color: #002182;
    background-color: #002182;
}
.checkbox-md .checkbox-checked {
    border-color: #e0001f;
    background-color: #e0001f;
}
.checkbox-md-primary .checkbox-checked {
    border-color: #e0001f;
    background-color: #e0001f;
}
.checkbox-md-info .checkbox-checked {
    border-color: #002182;
    background-color: #002182;
}
.checkbox-wp .checkbox-checked {
    border-color: #e0001f;
    background-color: #e0001f;
}
.checkbox-wp-primary .checkbox-checked {
    border-color: #e0001f;
    background-color: #e0001f;
}
.checkbox-wp-info .checkbox-checked {
    border-color: #002182;
    background-color: #002182;
}
.chip-ios > ion-icon {
    background-color: #e0001f;
}
.chip-ios-primary,
.chip-ios .icon-ios-primary {
    background-color: #e0001f;
}
.chip-ios-info,
.chip-ios .icon-ios-info {
    background-color: #002182;
}
.chip-md > ion-icon {
    background-color: #e0001f;
}
.chip-md-primary,
.chip-md .icon-md-primary {
    background-color: #e0001f;
}
.chip-md-info,
.chip-md .icon-md-info {
    background-color: #002182;
}
.chip-wp > ion-icon {
    background-color: #e0001f;
}
.chip-wp-primary,
.chip-wp .icon-wp-primary {
    background-color: #e0001f;
}
.chip-wp-info,
.chip-wp .icon-wp-info {
    background-color: #002182;
}
.fab-ios {
    background-color: #e0001f;
}
.fab-ios.activated {
    background-color: #e21431;
}
.fab-ios-primary {
    background-color: #e0001f;
}
.fab-ios-primary.activated {
    background-color: #e21431;
}
.fab-ios-info {
    background-color: #002182;
}
.fab-ios-info.activated {
    background-color: #14338c;
}
.fab-md {
    background-color: #e0001f;
}
.fab-md.activated {
    background-color: #e21431;
}
.fab-md-primary {
    background-color: #e0001f;
}
.fab-md-primary.activated {
    background-color: #e21431;
}
.fab-md-info {
    background-color: #002182;
}
.fab-md-info.activated {
    background-color: #14338c;
}
.fab-wp {
    background-color: #e0001f;
}
.fab-wp.activated {
    background-color: #e21431;
}
.fab-wp-primary {
    background-color: #e0001f;
}
.fab-wp-primary.activated {
    background-color: #e21431;
}
.fab-wp-info {
    background-color: #002182;
}
.fab-wp-info.activated {
    background-color: #14338c;
}
.icon-ios-primary {
    color: #e0001f;
}
.icon-ios-info {
    color: #002182;
}
.icon-md-primary {
    color: #e0001f;
}
.icon-md-info {
    color: #002182;
}
.icon-wp-primary {
    color: #e0001f;
}
.icon-wp-info {
    color: #002182;
}
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #e0001f;
    box-shadow: inset 0 -1px 0 0 #e0001f;
}
.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
    border-bottom-color: #e0001f;
    box-shadow: inset 0 -1px 0 0 #e0001f;
}
.item-wp.item-input.item-input-has-focus .text-input,
.item-wp.item-input.input-has-focus .text-input {
    border-color: #e0001f;
}
.item-ios .text-ios-primary {
    color: #e0001f;
}
.item-ios-primary,
.item-divider-ios-primary {
    background-color: #e0001f;
}
.item-ios-primary.activated,
.item-divider-ios-primary.activated {
    background-color: #e21431;
}
.item-ios .text-ios-info {
    color: #002182;
}
.item-ios-info,
.item-divider-ios-info {
    background-color: #002182;
}
.item-ios-info.activated,
.item-divider-ios-info.activated {
    background-color: #14338c;
}
.item-md .text-md-primary {
    color: #e0001f;
}
.item-md-primary,
.item-divider-md-primary {
    background-color: #e0001f;
}
.item-md-primary.activated,
.item-divider-md-primary.activated {
    background-color: #e21431;
}
.item-md .text-md-info {
    color: #002182;
}
.item-md-info,
.item-divider-md-info {
    background-color: #002182;
}
.item-md-info.activated,
.item-divider-md-info.activated {
    background-color: #14338c;
}
.item-wp .text-wp-primary {
    color: #e0001f;
}
.item-wp-primary,
.item-divider-wp-primary {
    background-color: #e0001f;
}
.item-wp-primary.activated,
.item-divider-wp-primary.activated {
    background-color: #e21431;
}
.item-wp .text-wp-info {
    color: #002182;
}
.item-wp-info,
.item-divider-wp-info {
    background-color: #002182;
}
.item-wp-info.activated,
.item-divider-wp-info.activated {
    background-color: #14338c;
}
.label-ios-primary,
.item-input .label-ios-primary,
.item-select .label-ios-primary,
.item-datetime .label-ios-primary {
    color: #e0001f;
}
.label-ios-info,
.item-input .label-ios-info,
.item-select .label-ios-info,
.item-datetime .label-ios-info {
    color: #002182;
}
.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
    color: #e0001f;
}
.label-md-primary,
.item-input .label-md-primary,
.item-select .label-md-primary,
.item-datetime .label-md-primary {
    color: #e0001f;
}
.label-md-info,
.item-input .label-md-info,
.item-select .label-md-info,
.item-datetime .label-md-info {
    color: #002182;
}
.item-input-has-focus .label-wp[stacked],
.input-has-focus .label-wp[stacked],
.item-input-has-focus .label-wp[floating],
.input-has-focus .label-wp[floating] {
    color: #e0001f;
}
.label-wp-primary,
.item-input .label-wp-primary,
.item-select .label-wp-primary,
.item-datetime .label-wp-primary {
    color: #e0001f;
}
.label-wp-info,
.item-input .label-wp-info,
.item-select .label-wp-info,
.item-datetime .label-wp-info {
    color: #002182;
}
.list-header-ios-primary {
    background-color: #e0001f;
}
.list-header-ios-info {
    background-color: #002182;
}
.list-header-md-primary {
    background-color: #e0001f;
}
.list-header-md-info {
    background-color: #002182;
}
.list-header-wp-primary {
    background-color: #e0001f;
}
.list-header-wp-info {
    background-color: #002182;
}
.loading-ios .spinner-ios line,
.loading-ios .spinner-ios-small line {
    stroke: #e0001f;
}
.loading-ios .spinner-bubbles circle {
    fill: #e0001f;
}
.loading-ios .spinner-circles circle {
    fill: #e0001f;
}
.loading-ios .spinner-crescent circle {
    stroke: #e0001f;
}
.loading-ios .spinner-dots circle {
    fill: #e0001f;
}
.loading-md .spinner-ios line,
.loading-md .spinner-ios-small line {
    stroke: #e0001f;
}
.loading-md .spinner-bubbles circle {
    fill: #e0001f;
}
.loading-md .spinner-circles circle {
    fill: #e0001f;
}
.loading-md .spinner-crescent circle {
    stroke: #e0001f;
}
.loading-md .spinner-dots circle {
    fill: #e0001f;
}
.loading-wp .spinner-ios line,
.loading-wp .spinner-ios-small line {
    stroke: #e0001f;
}
.loading-wp .spinner-bubbles circle {
    fill: #e0001f;
}
.loading-wp .spinner-circles circle {
    fill: #e0001f;
}
.loading-wp .spinner-crescent circle {
    stroke: #e0001f;
}
.loading-wp .spinner-dots circle {
    fill: #e0001f;
}
.note-ios-primary {
    color: #e0001f;
}
.note-ios-info {
    color: #002182;
}
.note-md-primary {
    color: #e0001f;
}
.note-md-info {
    color: #002182;
}
.note-wp-primary {
    color: #e0001f;
}
.note-wp-info {
    color: #002182;
}
.picker-ios .picker-button,
.picker-ios .picker-button.activated {
    color: #e0001f;
}
.picker-md .picker-button,
.picker-md .picker-button.activated {
    color: #e0001f;
}
.picker-md .picker-prefix,
.picker-md .picker-suffix,
.picker-md .picker-opt.picker-opt-selected {
    color: #e0001f;
}
.picker-wp .picker-button,
.picker-wp .picker-button.activated {
    color: #e0001f;
}
.picker-wp .picker-prefix,
.picker-wp .picker-suffix,
.picker-wp .picker-opt-selected {
    color: #e0001f;
}
.radio-ios .radio-checked .radio-inner {
    border-color: #e0001f;
}
.item-radio-checked.item-ios ion-label {
    color: #e0001f;
}
.item-radio-ios-primary.item-radio-checked ion-label {
    color: #e0001f;
}
.radio-ios-primary .radio-checked {
    color: #e0001f;
}
.radio-ios-primary .radio-checked .radio-inner {
    border-color: #e0001f;
}
.item-radio-ios-info.item-radio-checked ion-label {
    color: #002182;
}
.radio-ios-info .radio-checked {
    color: #002182;
}
.radio-ios-info .radio-checked .radio-inner {
    border-color: #002182;
}
.radio-md .radio-inner {
    background-color: #e0001f;
}
.radio-md .radio-checked {
    border-color: #e0001f;
}
.item-radio-checked.item-md ion-label {
    color: #e0001f;
}
.item-radio-md-primary.item-radio-checked ion-label {
    color: #e0001f;
}
.radio-md-primary .radio-checked {
    border-color: #e0001f;
}
.radio-md-primary .radio-inner {
    background-color: #e0001f;
}
.item-radio-md-info.item-radio-checked ion-label {
    color: #002182;
}
.radio-md-info .radio-checked {
    border-color: #002182;
}
.radio-md-info .radio-inner {
    background-color: #002182;
}
.radio-wp .radio-checked {
    border-color: #e0001f;
}
.radio-wp-primary .radio-checked {
    border-color: #e0001f;
}
.radio-wp-info .radio-checked {
    border-color: #002182;
}
.range-ios .range-bar-active {
    background: #e0001f;
}
.range-ios .range-tick-active {
    background: #e0001f;
}
.range-ios-primary .range-bar-active,
.range-ios-primary .range-tick-active {
    background: #e0001f;
}
.range-ios-info .range-bar-active,
.range-ios-info .range-tick-active {
    background: #002182;
}
.range-md .range-bar-active {
    background: #e0001f;
}
.range-md .range-knob {
    background: #e0001f;
}
.range-md .range-pin {
    background: #e0001f;
}
.range-md .range-pin::before {
    background: #e0001f;
}
.range-md-primary .range-bar-active,
.range-md-primary .range-knob,
.range-md-primary .range-pin,
.range-md-primary .range-pin::before {
    background: #e0001f;
}
.range-md-info .range-bar-active,
.range-md-info .range-knob,
.range-md-info .range-pin,
.range-md-info .range-pin::before {
    background: #002182;
}
.range-wp .range-bar-active {
    background: #e0001f;
}
.range-wp .range-knob {
    background: #e0001f;
}
.range-wp .range-tick-active {
    background: #e0001f;
}
.range-wp .range-pin {
    background: #e0001f;
}
.range-wp-primary .range-bar-active,
.range-wp-primary .range-tick-active,
.range-wp-primary .range-knob,
.range-wp-primary .range-pin {
    background: #e0001f;
}
.range-wp-info .range-bar-active,
.range-wp-info .range-tick-active,
.range-wp-info .range-knob,
.range-wp-info .range-pin {
    background: #002182;
}
.refresher-pulling-icon,
.refresher-refreshing-icon {
    color: #e0001f;
}
.refresher-refreshing .spinner-ios line,
.refresher-refreshing .spinner-ios-small line,
.refresher-refreshing .spinner-crescent circle {
    stroke: #e0001f;
}
.refresher-refreshing .spinner-bubbles circle,
.refresher-refreshing .spinner-circles circle,
.refresher-refreshing .spinner-dots circle {
    fill: #e0001f;
}
.searchbar-ios-primary .searchbar-ios-cancel {
    color: #e0001f;
}
.searchbar-ios-primary .searchbar-ios-cancel:hover:not(.disable-hover) {
    color: #e21431;
}
.toolbar-ios-light .searchbar-ios .searchbar-ios-cancel {
    color: #e0001f;
}
.searchbar-ios-info .searchbar-ios-cancel {
    color: #002182;
}
.searchbar-ios-info .searchbar-ios-cancel:hover:not(.disable-hover) {
    color: #14338c;
}
.searchbar-wp.searchbar-has-focus .searchbar-input-container {
    border-color: #e0001f;
}
.searchbar-wp-primary.searchbar-has-focus .searchbar-input-container {
    border-color: #e0001f;
}
.searchbar-wp-info.searchbar-has-focus .searchbar-input-container {
    border-color: #002182;
}
.segment-ios .segment-button {
    border-color: #002182;
    color: #002182;
}
.segment-ios .segment-button.segment-activated {
    background-color: #002182;
}
.segment-ios .segment-button:hover:not(.segment-activated) {
    background-color: rgba(0, 33, 130, 0.1);
}
.segment-ios .segment-button:active:not(.segment-activated) {
    background-color: rgba(0, 33, 130, 0.16);
}
.segment-ios .segment-button-disabled {
    color: rgba(0, 33, 130, 0.3);
}
.segment-ios-primary .segment-button {
    border-color: #e0001f;
    color: #e0001f;
}
.segment-ios-primary .segment-button:hover:not(.segment-activated) {
    background-color: rgba(224, 0, 31, 0.1);
}
.segment-ios-primary .segment-button:active:not(.segment-activated) {
    background-color: rgba(224, 0, 31, 0.16);
}
.segment-ios-primary .segment-button.segment-activated {
    background-color: #e0001f;
}
.segment-ios-primary .segment-button-disabled {
    color: rgba(224, 0, 31, 0.3);
}
.toolbar-ios-primary .segment-ios .segment-button.segment-activated {
    color: #e0001f;
}
.segment-ios-info .segment-button {
    border-color: #002182;
    color: #002182;
}
.segment-ios-info .segment-button:hover:not(.segment-activated) {
    background-color: rgba(0, 33, 130, 0.1);
}
.segment-ios-info .segment-button:active:not(.segment-activated) {
    background-color: rgba(0, 33, 130, 0.16);
}
.segment-ios-info .segment-button.segment-activated {
    background-color: #002182;
}
.segment-ios-info .segment-button-disabled {
    color: rgba(0, 33, 130, 0.3);
}
.toolbar-ios-info .segment-ios .segment-button.segment-activated {
    color: #002182;
}
.segment-md .segment-button {
    color: #002182;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #002182;
}
.segment-md-primary .segment-button {
    color: #e0001f;
}
.segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
    border-color: #e0001f;
    color: #e0001f;
}
.segment-md-info .segment-button {
    color: #002182;
}
.segment-md-info .segment-button.activated, .segment-md-info .segment-button.segment-activated {
    border-color: #002182;
    color: #002182;
}
.segment-wp-primary .segment-button {
    color: #e0001f;
}
.segment-wp-primary .segment-button.activated, .segment-wp-primary .segment-button.segment-activated {
    border-color: #e0001f;
    color: #e0001f;
}
.segment-wp-info .segment-button {
    color: #002182;
}
.segment-wp-info .segment-button.activated, .segment-wp-info .segment-button.segment-activated {
    border-color: #002182;
    color: #002182;
}
.select-ios .select-placeholder {
    color: #e0001f;
}
.select-md .select-placeholder {
    color: #e0001f;
}
.select-wp .select-placeholder {
    color: #e0001f;
}
.spinner-ios-ios line,
.spinner-ios-ios-small line {
    stroke: #e0001f;
}
.spinner-ios-primary.spinner-ios line,
.spinner-ios-primary.spinner-ios-small line,
.spinner-ios-primary.spinner-crescent circle {
    stroke: #e0001f;
}
.spinner-ios-primary.spinner-bubbles circle,
.spinner-ios-primary.spinner-circles circle,
.spinner-ios-primary.spinner-dots circle {
    fill: #e0001f;
}
.spinner-ios-info.spinner-ios line,
.spinner-ios-info.spinner-ios-small line,
.spinner-ios-info.spinner-crescent circle {
    stroke: #002182;
}
.spinner-ios-info.spinner-bubbles circle,
.spinner-ios-info.spinner-circles circle,
.spinner-ios-info.spinner-dots circle {
    fill: #002182;
}
.spinner-md-crescent circle {
    stroke: #e0001f;
}
.spinner-md-primary.spinner-ios line,
.spinner-md-primary.spinner-ios-small line,
.spinner-md-primary.spinner-crescent circle {
    stroke: #e0001f;
}
.spinner-md-primary.spinner-bubbles circle,
.spinner-md-primary.spinner-circles circle,
.spinner-md-primary.spinner-dots circle {
    fill: #e0001f;
}
.spinner-md-info.spinner-ios line,
.spinner-md-info.spinner-ios-small line,
.spinner-md-info.spinner-crescent circle {
    stroke: #002182;
}
.spinner-md-info.spinner-bubbles circle,
.spinner-md-info.spinner-circles circle,
.spinner-md-info.spinner-dots circle {
    fill: #002182;
}
.spinner-wp-circles circle {
    fill: #e0001f;
}
.spinner-wp-primary.spinner-ios line,
.spinner-wp-primary.spinner-ios-small line,
.spinner-wp-primary.spinner-crescent circle {
    stroke: #e0001f;
}
.spinner-wp-primary.spinner-bubbles circle,
.spinner-wp-primary.spinner-circles circle,
.spinner-wp-primary.spinner-dots circle {
    fill: #e0001f;
}
.spinner-wp-info.spinner-ios line,
.spinner-wp-info.spinner-ios-small line,
.spinner-wp-info.spinner-crescent circle {
    stroke: #002182;
}
.spinner-wp-info.spinner-bubbles circle,
.spinner-wp-info.spinner-circles circle,
.spinner-wp-info.spinner-dots circle {
    fill: #002182;
}
.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios ion-app.app-root .core-tabs-bar a.tab-slide:hover:not(.disable-hover), ion-app.app-root .core-tabs-bar .tabs-ios a.tab-slide:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true],
.tabs-ios ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide, ion-app.app-root .core-tabs-bar
.tabs-ios a[aria-selected=true].tab-slide {
    color: #e0001f;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon, .tabs-ios ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon, ion-app.app-root .core-tabs-bar .tabs-ios a[aria-selected=true].tab-slide .tab-button-icon {
    color: #e0001f;
}
.tabs-ios-primary .tabbar {
    border-color: #ad0018;
    background-color: #e0001f;
}
.tabs-ios-info .tabbar {
    border-color: #00144f;
    background-color: #002182;
}
.tabs-md .tab-button[aria-selected=true], .tabs-md ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide, ion-app.app-root .core-tabs-bar .tabs-md a[aria-selected=true].tab-slide {
    color: #e0001f;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tabs-md ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon, ion-app.app-root .core-tabs-bar .tabs-md a[aria-selected=true].tab-slide .tab-button-icon {
    color: #e0001f;
}
.tabs-md[tabsHighlight=true] .tab-highlight {
    background: #e0001f;
}
.tabs-md-primary .tabbar {
    background-color: #e0001f;
}
.tabs-md-info .tabbar {
    background-color: #002182;
}
.tabs-wp .tab-button[aria-selected=true], .tabs-wp ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide, ion-app.app-root .core-tabs-bar .tabs-wp a[aria-selected=true].tab-slide {
    border-bottom-color: #e0001f;
    color: #e0001f;
}
.tabs-wp[tabsPlacement=bottom] .tab-button[aria-selected=true], .tabs-wp[tabsPlacement=bottom] ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide, ion-app.app-root .core-tabs-bar .tabs-wp[tabsPlacement=bottom] a[aria-selected=true].tab-slide {
    border-top-color: #e0001f;
}
.tabs-wp .tab-button[aria-selected=true] .tab-button-icon, .tabs-wp ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon, ion-app.app-root .core-tabs-bar .tabs-wp a[aria-selected=true].tab-slide .tab-button-icon {
    color: #e0001f;
}
.tabs-wp-primary .tabbar {
    background-color: #e0001f;
}
.tabs-wp-info .tabbar {
    background-color: #002182;
}
.toggle-ios.toggle-checked .toggle-icon {
    background-color: #e0001f;
}
.toggle-ios-primary.toggle-checked .toggle-icon {
    background-color: #e0001f;
}
.toggle-ios-info.toggle-checked .toggle-icon {
    background-color: #002182;
}
.toggle-md.toggle-checked .toggle-icon {
    background-color: #ff6176;
}
.toggle-md.toggle-checked .toggle-inner {
    background-color: #e0001f;
}
.toggle-md-primary.toggle-checked .toggle-icon {
    background-color: #ff6176;
}
.toggle-md-primary.toggle-checked .toggle-inner {
    background-color: #e0001f;
}
.toggle-md-info.toggle-checked .toggle-icon {
    background-color: #0343ff;
}
.toggle-md-info.toggle-checked .toggle-inner {
    background-color: #002182;
}
.toggle-wp.toggle-checked .toggle-icon {
    border-color: #e0001f;
    background-color: #e0001f;
}
.toggle-wp-primary.toggle-checked .toggle-icon {
    border-color: #e0001f;
    background-color: #e0001f;
}
.toggle-wp-info.toggle-checked .toggle-icon {
    border-color: #002182;
    background-color: #002182;
}
.toolbar-background-ios {
    background: #002182;
}
.toolbar-ios-primary .toolbar-background-ios {
    background: #e0001f;
}
.toolbar-ios-primary .bar-button-primary-ios,
.toolbar-ios-primary .bar-button-default.bar-button-ios-primary,
.toolbar-ios-primary .bar-button-clear-ios-primary {
    color: #e0001f;
}
.toolbar-ios-primary .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-primary .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-primary .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-ios-primary .bar-button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.toolbar-ios-primary .bar-button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.toolbar-ios-primary .bar-button-solid-ios-primary {
    background-color: #e0001f;
}
.toolbar-ios-primary .bar-button-solid-ios-primary.activated {
    background-color: #e21431;
}
.toolbar-ios-primary .bar-button-info-ios,
.toolbar-ios-primary .bar-button-default.bar-button-ios-info,
.toolbar-ios-primary .bar-button-clear-ios-info {
    color: #002182;
}
.toolbar-ios-primary .bar-button-info-ios:hover:not(.disable-hover),
.toolbar-ios-primary .bar-button-default.bar-button-ios-info:hover:not(.disable-hover),
.toolbar-ios-primary .bar-button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-ios-primary .bar-button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.toolbar-ios-primary .bar-button-outline-ios-info.activated {
    background-color: #002182;
}
.toolbar-ios-primary .bar-button-solid-ios-info {
    background-color: #002182;
}
.toolbar-ios-primary .bar-button-solid-ios-info.activated {
    background-color: #14338c;
}
.bar-button-primary-ios,
.bar-button-default.bar-button-ios-primary,
.bar-button-clear-ios-primary {
    color: #e0001f;
}
.bar-button-primary-ios:hover:not(.disable-hover),
.bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.bar-button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.bar-button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.bar-button-solid-ios-primary {
    background-color: #e0001f;
}
.bar-button-solid-ios-primary.activated {
    background-color: #e21431;
}
.toolbar-ios-secondary .bar-button-primary-ios,
.toolbar-ios-secondary .bar-button-default.bar-button-ios-primary,
.toolbar-ios-secondary .bar-button-clear-ios-primary {
    color: #e0001f;
}
.toolbar-ios-secondary .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-secondary .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-secondary .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-ios-secondary .bar-button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.toolbar-ios-secondary .bar-button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.toolbar-ios-secondary .bar-button-solid-ios-primary {
    background-color: #e0001f;
}
.toolbar-ios-secondary .bar-button-solid-ios-primary.activated {
    background-color: #e21431;
}
.toolbar-ios-secondary .bar-button-info-ios,
.toolbar-ios-secondary .bar-button-default.bar-button-ios-info,
.toolbar-ios-secondary .bar-button-clear-ios-info {
    color: #002182;
}
.toolbar-ios-secondary .bar-button-info-ios:hover:not(.disable-hover),
.toolbar-ios-secondary .bar-button-default.bar-button-ios-info:hover:not(.disable-hover),
.toolbar-ios-secondary .bar-button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-ios-secondary .bar-button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.toolbar-ios-secondary .bar-button-outline-ios-info.activated {
    background-color: #002182;
}
.toolbar-ios-secondary .bar-button-solid-ios-info {
    background-color: #002182;
}
.toolbar-ios-secondary .bar-button-solid-ios-info.activated {
    background-color: #14338c;
}
.toolbar-ios-danger .bar-button-primary-ios,
.toolbar-ios-danger .bar-button-default.bar-button-ios-primary,
.toolbar-ios-danger .bar-button-clear-ios-primary {
    color: #e0001f;
}
.toolbar-ios-danger .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-danger .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-danger .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-ios-danger .bar-button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.toolbar-ios-danger .bar-button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.toolbar-ios-danger .bar-button-solid-ios-primary {
    background-color: #e0001f;
}
.toolbar-ios-danger .bar-button-solid-ios-primary.activated {
    background-color: #e21431;
}
.toolbar-ios-danger .bar-button-info-ios,
.toolbar-ios-danger .bar-button-default.bar-button-ios-info,
.toolbar-ios-danger .bar-button-clear-ios-info {
    color: #002182;
}
.toolbar-ios-danger .bar-button-info-ios:hover:not(.disable-hover),
.toolbar-ios-danger .bar-button-default.bar-button-ios-info:hover:not(.disable-hover),
.toolbar-ios-danger .bar-button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-ios-danger .bar-button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.toolbar-ios-danger .bar-button-outline-ios-info.activated {
    background-color: #002182;
}
.toolbar-ios-danger .bar-button-solid-ios-info {
    background-color: #002182;
}
.toolbar-ios-danger .bar-button-solid-ios-info.activated {
    background-color: #14338c;
}
.toolbar-ios-light .bar-button-primary-ios,
.toolbar-ios-light .bar-button-default.bar-button-ios-primary,
.toolbar-ios-light .bar-button-clear-ios-primary {
    color: #e0001f;
}
.toolbar-ios-light .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-light .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-light .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-ios-light .bar-button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.toolbar-ios-light .bar-button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.toolbar-ios-light .bar-button-solid-ios-primary {
    background-color: #e0001f;
}
.toolbar-ios-light .bar-button-solid-ios-primary.activated {
    background-color: #e21431;
}
.toolbar-ios-light .bar-button-info-ios,
.toolbar-ios-light .bar-button-default.bar-button-ios-info,
.toolbar-ios-light .bar-button-clear-ios-info {
    color: #002182;
}
.toolbar-ios-light .bar-button-info-ios:hover:not(.disable-hover),
.toolbar-ios-light .bar-button-default.bar-button-ios-info:hover:not(.disable-hover),
.toolbar-ios-light .bar-button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-ios-light .bar-button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.toolbar-ios-light .bar-button-outline-ios-info.activated {
    background-color: #002182;
}
.toolbar-ios-light .bar-button-solid-ios-info {
    background-color: #002182;
}
.toolbar-ios-light .bar-button-solid-ios-info.activated {
    background-color: #14338c;
}
.toolbar-ios-gray .bar-button-primary-ios,
.toolbar-ios-gray .bar-button-default.bar-button-ios-primary,
.toolbar-ios-gray .bar-button-clear-ios-primary {
    color: #e0001f;
}
.toolbar-ios-gray .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-gray .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-gray .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-ios-gray .bar-button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.toolbar-ios-gray .bar-button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.toolbar-ios-gray .bar-button-solid-ios-primary {
    background-color: #e0001f;
}
.toolbar-ios-gray .bar-button-solid-ios-primary.activated {
    background-color: #e21431;
}
.toolbar-ios-gray .bar-button-info-ios,
.toolbar-ios-gray .bar-button-default.bar-button-ios-info,
.toolbar-ios-gray .bar-button-clear-ios-info {
    color: #002182;
}
.toolbar-ios-gray .bar-button-info-ios:hover:not(.disable-hover),
.toolbar-ios-gray .bar-button-default.bar-button-ios-info:hover:not(.disable-hover),
.toolbar-ios-gray .bar-button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-ios-gray .bar-button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.toolbar-ios-gray .bar-button-outline-ios-info.activated {
    background-color: #002182;
}
.toolbar-ios-gray .bar-button-solid-ios-info {
    background-color: #002182;
}
.toolbar-ios-gray .bar-button-solid-ios-info.activated {
    background-color: #14338c;
}
.toolbar-ios-dark .bar-button-primary-ios,
.toolbar-ios-dark .bar-button-default.bar-button-ios-primary,
.toolbar-ios-dark .bar-button-clear-ios-primary {
    color: #e0001f;
}
.toolbar-ios-dark .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-dark .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-dark .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-ios-dark .bar-button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.toolbar-ios-dark .bar-button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.toolbar-ios-dark .bar-button-solid-ios-primary {
    background-color: #e0001f;
}
.toolbar-ios-dark .bar-button-solid-ios-primary.activated {
    background-color: #e21431;
}
.toolbar-ios-dark .bar-button-info-ios,
.toolbar-ios-dark .bar-button-default.bar-button-ios-info,
.toolbar-ios-dark .bar-button-clear-ios-info {
    color: #002182;
}
.toolbar-ios-dark .bar-button-info-ios:hover:not(.disable-hover),
.toolbar-ios-dark .bar-button-default.bar-button-ios-info:hover:not(.disable-hover),
.toolbar-ios-dark .bar-button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-ios-dark .bar-button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.toolbar-ios-dark .bar-button-outline-ios-info.activated {
    background-color: #002182;
}
.toolbar-ios-dark .bar-button-solid-ios-info {
    background-color: #002182;
}
.toolbar-ios-dark .bar-button-solid-ios-info.activated {
    background-color: #14338c;
}
.toolbar-ios-warning .bar-button-primary-ios,
.toolbar-ios-warning .bar-button-default.bar-button-ios-primary,
.toolbar-ios-warning .bar-button-clear-ios-primary {
    color: #e0001f;
}
.toolbar-ios-warning .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-warning .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-warning .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-ios-warning .bar-button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.toolbar-ios-warning .bar-button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.toolbar-ios-warning .bar-button-solid-ios-primary {
    background-color: #e0001f;
}
.toolbar-ios-warning .bar-button-solid-ios-primary.activated {
    background-color: #e21431;
}
.toolbar-ios-warning .bar-button-info-ios,
.toolbar-ios-warning .bar-button-default.bar-button-ios-info,
.toolbar-ios-warning .bar-button-clear-ios-info {
    color: #002182;
}
.toolbar-ios-warning .bar-button-info-ios:hover:not(.disable-hover),
.toolbar-ios-warning .bar-button-default.bar-button-ios-info:hover:not(.disable-hover),
.toolbar-ios-warning .bar-button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-ios-warning .bar-button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.toolbar-ios-warning .bar-button-outline-ios-info.activated {
    background-color: #002182;
}
.toolbar-ios-warning .bar-button-solid-ios-info {
    background-color: #002182;
}
.toolbar-ios-warning .bar-button-solid-ios-info.activated {
    background-color: #14338c;
}
.toolbar-ios-success .bar-button-primary-ios,
.toolbar-ios-success .bar-button-default.bar-button-ios-primary,
.toolbar-ios-success .bar-button-clear-ios-primary {
    color: #e0001f;
}
.toolbar-ios-success .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-success .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-success .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-ios-success .bar-button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.toolbar-ios-success .bar-button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.toolbar-ios-success .bar-button-solid-ios-primary {
    background-color: #e0001f;
}
.toolbar-ios-success .bar-button-solid-ios-primary.activated {
    background-color: #e21431;
}
.toolbar-ios-success .bar-button-info-ios,
.toolbar-ios-success .bar-button-default.bar-button-ios-info,
.toolbar-ios-success .bar-button-clear-ios-info {
    color: #002182;
}
.toolbar-ios-success .bar-button-info-ios:hover:not(.disable-hover),
.toolbar-ios-success .bar-button-default.bar-button-ios-info:hover:not(.disable-hover),
.toolbar-ios-success .bar-button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-ios-success .bar-button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.toolbar-ios-success .bar-button-outline-ios-info.activated {
    background-color: #002182;
}
.toolbar-ios-success .bar-button-solid-ios-info {
    background-color: #002182;
}
.toolbar-ios-success .bar-button-solid-ios-info.activated {
    background-color: #14338c;
}
.toolbar-ios-info .toolbar-background-ios {
    background: #002182;
}
.toolbar-ios-info .bar-button-primary-ios,
.toolbar-ios-info .bar-button-default.bar-button-ios-primary,
.toolbar-ios-info .bar-button-clear-ios-primary {
    color: #e0001f;
}
.toolbar-ios-info .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-info .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-info .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-ios-info .bar-button-outline-ios-primary {
    border-color: #e0001f;
    color: #e0001f;
}
.toolbar-ios-info .bar-button-outline-ios-primary.activated {
    background-color: #e0001f;
}
.toolbar-ios-info .bar-button-solid-ios-primary {
    background-color: #e0001f;
}
.toolbar-ios-info .bar-button-solid-ios-primary.activated {
    background-color: #e21431;
}
.toolbar-ios-info .bar-button-info-ios,
.toolbar-ios-info .bar-button-default.bar-button-ios-info,
.toolbar-ios-info .bar-button-clear-ios-info {
    color: #002182;
}
.toolbar-ios-info .bar-button-info-ios:hover:not(.disable-hover),
.toolbar-ios-info .bar-button-default.bar-button-ios-info:hover:not(.disable-hover),
.toolbar-ios-info .bar-button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-ios-info .bar-button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.toolbar-ios-info .bar-button-outline-ios-info.activated {
    background-color: #002182;
}
.toolbar-ios-info .bar-button-solid-ios-info {
    background-color: #002182;
}
.toolbar-ios-info .bar-button-solid-ios-info.activated {
    background-color: #14338c;
}
.bar-button-info-ios,
.bar-button-default.bar-button-ios-info,
.bar-button-clear-ios-info {
    color: #002182;
}
.bar-button-info-ios:hover:not(.disable-hover),
.bar-button-default.bar-button-ios-info:hover:not(.disable-hover),
.bar-button-clear-ios-info:hover:not(.disable-hover) {
    color: #002182;
}
.bar-button-outline-ios-info {
    border-color: #002182;
    color: #002182;
}
.bar-button-outline-ios-info.activated {
    background-color: #002182;
}
.bar-button-solid-ios-info {
    background-color: #002182;
}
.bar-button-solid-ios-info.activated {
    background-color: #14338c;
}
.toolbar-background-md {
    background: #002182;
}
.toolbar-md-primary .toolbar-background-md {
    background: #e0001f;
}
.toolbar-md-primary .bar-button-primary-md,
.toolbar-md-primary .bar-button-clear-md-primary,
.toolbar-md-primary .bar-button-md-primary {
    color: #e0001f;
}
.toolbar-md-primary .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-primary .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-primary .bar-button-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-md-primary .bar-button-outline-md-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-md-primary .bar-button-outline-md-primary .button-effect {
    background-color: #e21431;
}
.toolbar-md-primary .bar-button-solid-md-primary {
    background-color: #e0001f;
}
.toolbar-md-primary .bar-button-solid-md-primary.activated {
    background-color: #e21431;
}
.toolbar-md-primary .bar-button-info-md,
.toolbar-md-primary .bar-button-clear-md-info,
.toolbar-md-primary .bar-button-md-info {
    color: #002182;
}
.toolbar-md-primary .bar-button-info-md:hover:not(.disable-hover),
.toolbar-md-primary .bar-button-clear-md-info:hover:not(.disable-hover),
.toolbar-md-primary .bar-button-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-md-primary .bar-button-outline-md-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-md-primary .bar-button-outline-md-info .button-effect {
    background-color: #14338c;
}
.toolbar-md-primary .bar-button-solid-md-info {
    background-color: #002182;
}
.toolbar-md-primary .bar-button-solid-md-info.activated {
    background-color: #14338c;
}
.bar-button-primary-md,
.bar-button-clear-md-primary,
.bar-button-md-primary {
    color: #e0001f;
}
.bar-button-primary-md:hover:not(.disable-hover),
.bar-button-clear-md-primary:hover:not(.disable-hover),
.bar-button-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.bar-button-outline-md-primary {
    border-color: #e21431;
    color: #e21431;
}
.bar-button-outline-md-primary .button-effect {
    background-color: #e21431;
}
.bar-button-solid-md-primary {
    background-color: #e0001f;
}
.bar-button-solid-md-primary.activated {
    background-color: #e21431;
}
.toolbar-md-secondary .bar-button-primary-md,
.toolbar-md-secondary .bar-button-clear-md-primary,
.toolbar-md-secondary .bar-button-md-primary {
    color: #e0001f;
}
.toolbar-md-secondary .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-secondary .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-secondary .bar-button-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-md-secondary .bar-button-outline-md-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-md-secondary .bar-button-outline-md-primary .button-effect {
    background-color: #e21431;
}
.toolbar-md-secondary .bar-button-solid-md-primary {
    background-color: #e0001f;
}
.toolbar-md-secondary .bar-button-solid-md-primary.activated {
    background-color: #e21431;
}
.toolbar-md-secondary .bar-button-info-md,
.toolbar-md-secondary .bar-button-clear-md-info,
.toolbar-md-secondary .bar-button-md-info {
    color: #002182;
}
.toolbar-md-secondary .bar-button-info-md:hover:not(.disable-hover),
.toolbar-md-secondary .bar-button-clear-md-info:hover:not(.disable-hover),
.toolbar-md-secondary .bar-button-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-md-secondary .bar-button-outline-md-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-md-secondary .bar-button-outline-md-info .button-effect {
    background-color: #14338c;
}
.toolbar-md-secondary .bar-button-solid-md-info {
    background-color: #002182;
}
.toolbar-md-secondary .bar-button-solid-md-info.activated {
    background-color: #14338c;
}
.toolbar-md-danger .bar-button-primary-md,
.toolbar-md-danger .bar-button-clear-md-primary,
.toolbar-md-danger .bar-button-md-primary {
    color: #e0001f;
}
.toolbar-md-danger .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-danger .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-danger .bar-button-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-md-danger .bar-button-outline-md-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-md-danger .bar-button-outline-md-primary .button-effect {
    background-color: #e21431;
}
.toolbar-md-danger .bar-button-solid-md-primary {
    background-color: #e0001f;
}
.toolbar-md-danger .bar-button-solid-md-primary.activated {
    background-color: #e21431;
}
.toolbar-md-danger .bar-button-info-md,
.toolbar-md-danger .bar-button-clear-md-info,
.toolbar-md-danger .bar-button-md-info {
    color: #002182;
}
.toolbar-md-danger .bar-button-info-md:hover:not(.disable-hover),
.toolbar-md-danger .bar-button-clear-md-info:hover:not(.disable-hover),
.toolbar-md-danger .bar-button-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-md-danger .bar-button-outline-md-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-md-danger .bar-button-outline-md-info .button-effect {
    background-color: #14338c;
}
.toolbar-md-danger .bar-button-solid-md-info {
    background-color: #002182;
}
.toolbar-md-danger .bar-button-solid-md-info.activated {
    background-color: #14338c;
}
.toolbar-md-light .bar-button-primary-md,
.toolbar-md-light .bar-button-clear-md-primary,
.toolbar-md-light .bar-button-md-primary {
    color: #e0001f;
}
.toolbar-md-light .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-light .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-light .bar-button-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-md-light .bar-button-outline-md-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-md-light .bar-button-outline-md-primary .button-effect {
    background-color: #e21431;
}
.toolbar-md-light .bar-button-solid-md-primary {
    background-color: #e0001f;
}
.toolbar-md-light .bar-button-solid-md-primary.activated {
    background-color: #e21431;
}
.toolbar-md-light .bar-button-info-md,
.toolbar-md-light .bar-button-clear-md-info,
.toolbar-md-light .bar-button-md-info {
    color: #002182;
}
.toolbar-md-light .bar-button-info-md:hover:not(.disable-hover),
.toolbar-md-light .bar-button-clear-md-info:hover:not(.disable-hover),
.toolbar-md-light .bar-button-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-md-light .bar-button-outline-md-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-md-light .bar-button-outline-md-info .button-effect {
    background-color: #14338c;
}
.toolbar-md-light .bar-button-solid-md-info {
    background-color: #002182;
}
.toolbar-md-light .bar-button-solid-md-info.activated {
    background-color: #14338c;
}
.toolbar-md-gray .bar-button-primary-md,
.toolbar-md-gray .bar-button-clear-md-primary,
.toolbar-md-gray .bar-button-md-primary {
    color: #e0001f;
}
.toolbar-md-gray .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-gray .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-gray .bar-button-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-md-gray .bar-button-outline-md-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-md-gray .bar-button-outline-md-primary .button-effect {
    background-color: #e21431;
}
.toolbar-md-gray .bar-button-solid-md-primary {
    background-color: #e0001f;
}
.toolbar-md-gray .bar-button-solid-md-primary.activated {
    background-color: #e21431;
}
.toolbar-md-gray .bar-button-info-md,
.toolbar-md-gray .bar-button-clear-md-info,
.toolbar-md-gray .bar-button-md-info {
    color: #002182;
}
.toolbar-md-gray .bar-button-info-md:hover:not(.disable-hover),
.toolbar-md-gray .bar-button-clear-md-info:hover:not(.disable-hover),
.toolbar-md-gray .bar-button-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-md-gray .bar-button-outline-md-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-md-gray .bar-button-outline-md-info .button-effect {
    background-color: #14338c;
}
.toolbar-md-gray .bar-button-solid-md-info {
    background-color: #002182;
}
.toolbar-md-gray .bar-button-solid-md-info.activated {
    background-color: #14338c;
}
.toolbar-md-dark .bar-button-primary-md,
.toolbar-md-dark .bar-button-clear-md-primary,
.toolbar-md-dark .bar-button-md-primary {
    color: #e0001f;
}
.toolbar-md-dark .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-dark .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-dark .bar-button-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-md-dark .bar-button-outline-md-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-md-dark .bar-button-outline-md-primary .button-effect {
    background-color: #e21431;
}
.toolbar-md-dark .bar-button-solid-md-primary {
    background-color: #e0001f;
}
.toolbar-md-dark .bar-button-solid-md-primary.activated {
    background-color: #e21431;
}
.toolbar-md-dark .bar-button-info-md,
.toolbar-md-dark .bar-button-clear-md-info,
.toolbar-md-dark .bar-button-md-info {
    color: #002182;
}
.toolbar-md-dark .bar-button-info-md:hover:not(.disable-hover),
.toolbar-md-dark .bar-button-clear-md-info:hover:not(.disable-hover),
.toolbar-md-dark .bar-button-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-md-dark .bar-button-outline-md-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-md-dark .bar-button-outline-md-info .button-effect {
    background-color: #14338c;
}
.toolbar-md-dark .bar-button-solid-md-info {
    background-color: #002182;
}
.toolbar-md-dark .bar-button-solid-md-info.activated {
    background-color: #14338c;
}
.toolbar-md-warning .bar-button-primary-md,
.toolbar-md-warning .bar-button-clear-md-primary,
.toolbar-md-warning .bar-button-md-primary {
    color: #e0001f;
}
.toolbar-md-warning .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-warning .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-warning .bar-button-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-md-warning .bar-button-outline-md-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-md-warning .bar-button-outline-md-primary .button-effect {
    background-color: #e21431;
}
.toolbar-md-warning .bar-button-solid-md-primary {
    background-color: #e0001f;
}
.toolbar-md-warning .bar-button-solid-md-primary.activated {
    background-color: #e21431;
}
.toolbar-md-warning .bar-button-info-md,
.toolbar-md-warning .bar-button-clear-md-info,
.toolbar-md-warning .bar-button-md-info {
    color: #002182;
}
.toolbar-md-warning .bar-button-info-md:hover:not(.disable-hover),
.toolbar-md-warning .bar-button-clear-md-info:hover:not(.disable-hover),
.toolbar-md-warning .bar-button-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-md-warning .bar-button-outline-md-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-md-warning .bar-button-outline-md-info .button-effect {
    background-color: #14338c;
}
.toolbar-md-warning .bar-button-solid-md-info {
    background-color: #002182;
}
.toolbar-md-warning .bar-button-solid-md-info.activated {
    background-color: #14338c;
}
.toolbar-md-success .bar-button-primary-md,
.toolbar-md-success .bar-button-clear-md-primary,
.toolbar-md-success .bar-button-md-primary {
    color: #e0001f;
}
.toolbar-md-success .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-success .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-success .bar-button-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-md-success .bar-button-outline-md-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-md-success .bar-button-outline-md-primary .button-effect {
    background-color: #e21431;
}
.toolbar-md-success .bar-button-solid-md-primary {
    background-color: #e0001f;
}
.toolbar-md-success .bar-button-solid-md-primary.activated {
    background-color: #e21431;
}
.toolbar-md-success .bar-button-info-md,
.toolbar-md-success .bar-button-clear-md-info,
.toolbar-md-success .bar-button-md-info {
    color: #002182;
}
.toolbar-md-success .bar-button-info-md:hover:not(.disable-hover),
.toolbar-md-success .bar-button-clear-md-info:hover:not(.disable-hover),
.toolbar-md-success .bar-button-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-md-success .bar-button-outline-md-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-md-success .bar-button-outline-md-info .button-effect {
    background-color: #14338c;
}
.toolbar-md-success .bar-button-solid-md-info {
    background-color: #002182;
}
.toolbar-md-success .bar-button-solid-md-info.activated {
    background-color: #14338c;
}
.toolbar-md-info .toolbar-background-md {
    background: #002182;
}
.toolbar-md-info .bar-button-primary-md,
.toolbar-md-info .bar-button-clear-md-primary,
.toolbar-md-info .bar-button-md-primary {
    color: #e0001f;
}
.toolbar-md-info .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-info .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-info .bar-button-md-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-md-info .bar-button-outline-md-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-md-info .bar-button-outline-md-primary .button-effect {
    background-color: #e21431;
}
.toolbar-md-info .bar-button-solid-md-primary {
    background-color: #e0001f;
}
.toolbar-md-info .bar-button-solid-md-primary.activated {
    background-color: #e21431;
}
.toolbar-md-info .bar-button-info-md,
.toolbar-md-info .bar-button-clear-md-info,
.toolbar-md-info .bar-button-md-info {
    color: #002182;
}
.toolbar-md-info .bar-button-info-md:hover:not(.disable-hover),
.toolbar-md-info .bar-button-clear-md-info:hover:not(.disable-hover),
.toolbar-md-info .bar-button-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-md-info .bar-button-outline-md-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-md-info .bar-button-outline-md-info .button-effect {
    background-color: #14338c;
}
.toolbar-md-info .bar-button-solid-md-info {
    background-color: #002182;
}
.toolbar-md-info .bar-button-solid-md-info.activated {
    background-color: #14338c;
}
.bar-button-info-md,
.bar-button-clear-md-info,
.bar-button-md-info {
    color: #002182;
}
.bar-button-info-md:hover:not(.disable-hover),
.bar-button-clear-md-info:hover:not(.disable-hover),
.bar-button-md-info:hover:not(.disable-hover) {
    color: #002182;
}
.bar-button-outline-md-info {
    border-color: #14338c;
    color: #14338c;
}
.bar-button-outline-md-info .button-effect {
    background-color: #14338c;
}
.bar-button-solid-md-info {
    background-color: #002182;
}
.bar-button-solid-md-info.activated {
    background-color: #14338c;
}
.toolbar-background-wp {
    background: #002182;
}
.toolbar-wp-primary .toolbar-background-wp {
    background: #e0001f;
}
.toolbar-wp-primary .bar-button-primary-wp,
.toolbar-wp-primary .bar-button-clear-wp-primary,
.toolbar-wp-primary .bar-button-wp-primary {
    color: #e0001f;
}
.toolbar-wp-primary .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-primary .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-primary .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-wp-primary .bar-button-outline-wp-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-wp-primary .bar-button-outline-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-primary .bar-button-solid-wp-primary {
    background-color: #e0001f;
}
.toolbar-wp-primary .bar-button-solid-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-primary .bar-button-info-wp,
.toolbar-wp-primary .bar-button-clear-wp-info,
.toolbar-wp-primary .bar-button-wp-info {
    color: #002182;
}
.toolbar-wp-primary .bar-button-info-wp:hover:not(.disable-hover),
.toolbar-wp-primary .bar-button-clear-wp-info:hover:not(.disable-hover),
.toolbar-wp-primary .bar-button-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-wp-primary .bar-button-outline-wp-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-wp-primary .bar-button-outline-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-primary .bar-button-solid-wp-info {
    background-color: #002182;
}
.toolbar-wp-primary .bar-button-solid-wp-info.activated {
    background-color: #14338c;
}
.bar-button-primary-wp,
.bar-button-clear-wp-primary,
.bar-button-wp-primary {
    color: #e0001f;
}
.bar-button-primary-wp:hover:not(.disable-hover),
.bar-button-clear-wp-primary:hover:not(.disable-hover),
.bar-button-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.bar-button-outline-wp-primary {
    border-color: #e21431;
    color: #e21431;
}
.bar-button-outline-wp-primary.activated {
    background-color: #e21431;
}
.bar-button-solid-wp-primary {
    background-color: #e0001f;
}
.bar-button-solid-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-secondary .bar-button-primary-wp,
.toolbar-wp-secondary .bar-button-clear-wp-primary,
.toolbar-wp-secondary .bar-button-wp-primary {
    color: #e0001f;
}
.toolbar-wp-secondary .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-secondary .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-secondary .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-wp-secondary .bar-button-outline-wp-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-wp-secondary .bar-button-outline-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-secondary .bar-button-solid-wp-primary {
    background-color: #e0001f;
}
.toolbar-wp-secondary .bar-button-solid-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-secondary .bar-button-info-wp,
.toolbar-wp-secondary .bar-button-clear-wp-info,
.toolbar-wp-secondary .bar-button-wp-info {
    color: #002182;
}
.toolbar-wp-secondary .bar-button-info-wp:hover:not(.disable-hover),
.toolbar-wp-secondary .bar-button-clear-wp-info:hover:not(.disable-hover),
.toolbar-wp-secondary .bar-button-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-wp-secondary .bar-button-outline-wp-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-wp-secondary .bar-button-outline-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-secondary .bar-button-solid-wp-info {
    background-color: #002182;
}
.toolbar-wp-secondary .bar-button-solid-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-danger .bar-button-primary-wp,
.toolbar-wp-danger .bar-button-clear-wp-primary,
.toolbar-wp-danger .bar-button-wp-primary {
    color: #e0001f;
}
.toolbar-wp-danger .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-danger .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-danger .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-wp-danger .bar-button-outline-wp-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-wp-danger .bar-button-outline-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-danger .bar-button-solid-wp-primary {
    background-color: #e0001f;
}
.toolbar-wp-danger .bar-button-solid-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-danger .bar-button-info-wp,
.toolbar-wp-danger .bar-button-clear-wp-info,
.toolbar-wp-danger .bar-button-wp-info {
    color: #002182;
}
.toolbar-wp-danger .bar-button-info-wp:hover:not(.disable-hover),
.toolbar-wp-danger .bar-button-clear-wp-info:hover:not(.disable-hover),
.toolbar-wp-danger .bar-button-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-wp-danger .bar-button-outline-wp-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-wp-danger .bar-button-outline-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-danger .bar-button-solid-wp-info {
    background-color: #002182;
}
.toolbar-wp-danger .bar-button-solid-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-light .bar-button-primary-wp,
.toolbar-wp-light .bar-button-clear-wp-primary,
.toolbar-wp-light .bar-button-wp-primary {
    color: #e0001f;
}
.toolbar-wp-light .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-light .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-light .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-wp-light .bar-button-outline-wp-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-wp-light .bar-button-outline-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-light .bar-button-solid-wp-primary {
    background-color: #e0001f;
}
.toolbar-wp-light .bar-button-solid-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-light .bar-button-info-wp,
.toolbar-wp-light .bar-button-clear-wp-info,
.toolbar-wp-light .bar-button-wp-info {
    color: #002182;
}
.toolbar-wp-light .bar-button-info-wp:hover:not(.disable-hover),
.toolbar-wp-light .bar-button-clear-wp-info:hover:not(.disable-hover),
.toolbar-wp-light .bar-button-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-wp-light .bar-button-outline-wp-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-wp-light .bar-button-outline-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-light .bar-button-solid-wp-info {
    background-color: #002182;
}
.toolbar-wp-light .bar-button-solid-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-gray .bar-button-primary-wp,
.toolbar-wp-gray .bar-button-clear-wp-primary,
.toolbar-wp-gray .bar-button-wp-primary {
    color: #e0001f;
}
.toolbar-wp-gray .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-gray .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-gray .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-wp-gray .bar-button-outline-wp-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-wp-gray .bar-button-outline-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-gray .bar-button-solid-wp-primary {
    background-color: #e0001f;
}
.toolbar-wp-gray .bar-button-solid-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-gray .bar-button-info-wp,
.toolbar-wp-gray .bar-button-clear-wp-info,
.toolbar-wp-gray .bar-button-wp-info {
    color: #002182;
}
.toolbar-wp-gray .bar-button-info-wp:hover:not(.disable-hover),
.toolbar-wp-gray .bar-button-clear-wp-info:hover:not(.disable-hover),
.toolbar-wp-gray .bar-button-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-wp-gray .bar-button-outline-wp-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-wp-gray .bar-button-outline-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-gray .bar-button-solid-wp-info {
    background-color: #002182;
}
.toolbar-wp-gray .bar-button-solid-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-dark .bar-button-primary-wp,
.toolbar-wp-dark .bar-button-clear-wp-primary,
.toolbar-wp-dark .bar-button-wp-primary {
    color: #e0001f;
}
.toolbar-wp-dark .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-dark .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-dark .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-wp-dark .bar-button-outline-wp-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-wp-dark .bar-button-outline-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-dark .bar-button-solid-wp-primary {
    background-color: #e0001f;
}
.toolbar-wp-dark .bar-button-solid-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-dark .bar-button-info-wp,
.toolbar-wp-dark .bar-button-clear-wp-info,
.toolbar-wp-dark .bar-button-wp-info {
    color: #002182;
}
.toolbar-wp-dark .bar-button-info-wp:hover:not(.disable-hover),
.toolbar-wp-dark .bar-button-clear-wp-info:hover:not(.disable-hover),
.toolbar-wp-dark .bar-button-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-wp-dark .bar-button-outline-wp-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-wp-dark .bar-button-outline-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-dark .bar-button-solid-wp-info {
    background-color: #002182;
}
.toolbar-wp-dark .bar-button-solid-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-warning .bar-button-primary-wp,
.toolbar-wp-warning .bar-button-clear-wp-primary,
.toolbar-wp-warning .bar-button-wp-primary {
    color: #e0001f;
}
.toolbar-wp-warning .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-warning .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-warning .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-wp-warning .bar-button-outline-wp-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-wp-warning .bar-button-outline-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-warning .bar-button-solid-wp-primary {
    background-color: #e0001f;
}
.toolbar-wp-warning .bar-button-solid-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-warning .bar-button-info-wp,
.toolbar-wp-warning .bar-button-clear-wp-info,
.toolbar-wp-warning .bar-button-wp-info {
    color: #002182;
}
.toolbar-wp-warning .bar-button-info-wp:hover:not(.disable-hover),
.toolbar-wp-warning .bar-button-clear-wp-info:hover:not(.disable-hover),
.toolbar-wp-warning .bar-button-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-wp-warning .bar-button-outline-wp-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-wp-warning .bar-button-outline-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-warning .bar-button-solid-wp-info {
    background-color: #002182;
}
.toolbar-wp-warning .bar-button-solid-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-success .bar-button-primary-wp,
.toolbar-wp-success .bar-button-clear-wp-primary,
.toolbar-wp-success .bar-button-wp-primary {
    color: #e0001f;
}
.toolbar-wp-success .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-success .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-success .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-wp-success .bar-button-outline-wp-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-wp-success .bar-button-outline-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-success .bar-button-solid-wp-primary {
    background-color: #e0001f;
}
.toolbar-wp-success .bar-button-solid-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-success .bar-button-info-wp,
.toolbar-wp-success .bar-button-clear-wp-info,
.toolbar-wp-success .bar-button-wp-info {
    color: #002182;
}
.toolbar-wp-success .bar-button-info-wp:hover:not(.disable-hover),
.toolbar-wp-success .bar-button-clear-wp-info:hover:not(.disable-hover),
.toolbar-wp-success .bar-button-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-wp-success .bar-button-outline-wp-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-wp-success .bar-button-outline-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-success .bar-button-solid-wp-info {
    background-color: #002182;
}
.toolbar-wp-success .bar-button-solid-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-info .toolbar-background-wp {
    background: #002182;
}
.toolbar-wp-info .bar-button-primary-wp,
.toolbar-wp-info .bar-button-clear-wp-primary,
.toolbar-wp-info .bar-button-wp-primary {
    color: #e0001f;
}
.toolbar-wp-info .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-info .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-info .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #e0001f;
}
.toolbar-wp-info .bar-button-outline-wp-primary {
    border-color: #e21431;
    color: #e21431;
}
.toolbar-wp-info .bar-button-outline-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-info .bar-button-solid-wp-primary {
    background-color: #e0001f;
}
.toolbar-wp-info .bar-button-solid-wp-primary.activated {
    background-color: #e21431;
}
.toolbar-wp-info .bar-button-info-wp,
.toolbar-wp-info .bar-button-clear-wp-info,
.toolbar-wp-info .bar-button-wp-info {
    color: #002182;
}
.toolbar-wp-info .bar-button-info-wp:hover:not(.disable-hover),
.toolbar-wp-info .bar-button-clear-wp-info:hover:not(.disable-hover),
.toolbar-wp-info .bar-button-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.toolbar-wp-info .bar-button-outline-wp-info {
    border-color: #14338c;
    color: #14338c;
}
.toolbar-wp-info .bar-button-outline-wp-info.activated {
    background-color: #14338c;
}
.toolbar-wp-info .bar-button-solid-wp-info {
    background-color: #002182;
}
.toolbar-wp-info .bar-button-solid-wp-info.activated {
    background-color: #14338c;
}
.bar-button-info-wp,
.bar-button-clear-wp-info,
.bar-button-wp-info {
    color: #002182;
}
.bar-button-info-wp:hover:not(.disable-hover),
.bar-button-clear-wp-info:hover:not(.disable-hover),
.bar-button-wp-info:hover:not(.disable-hover) {
    color: #002182;
}
.bar-button-outline-wp-info {
    border-color: #14338c;
    color: #14338c;
}
.bar-button-outline-wp-info.activated {
    background-color: #14338c;
}
.bar-button-solid-wp-info {
    background-color: #002182;
}
.bar-button-solid-wp-info.activated {
    background-color: #14338c;
}
.text-ios-primary {
    color: #e0001f;
}
.text-ios-info {
    color: #002182;
}
.text-md-primary {
    color: #e0001f;
}
.text-md-info {
    color: #002182;
}
.text-wp-primary {
    color: #e0001f;
}
.text-wp-info {
    color: #002182;
}
ion-app.app-root page-addon-messages-discussion .addon-messages-unreadfrom {
    color: #002182;
}
ion-app.app-root page-addon-messages-discussion .addon-message-mine {
    background-color: #ccd3e6;
}
ion-app.app-root page-addon-messages-discussion .addon-message-mine.activated {
    background-color: #aab5d5;
}
page-addon-mod-data-search .addon-data-contents form .input-md input:focus,
page-addon-mod-data-search form .addon-data-advanced-search .input-md input:focus,
page-addon-mod-data-edit .addon-data-contents form .input-md input:focus,
page-addon-mod-data-edit form .addon-data-advanced-search .input-md input:focus {
    border-bottom-color: #e0001f;
    box-shadow: inset 0 -1px 0 0 #e0001f;
}
page-addon-mod-data-search .addon-data-contents form .input-md input:focus,
page-addon-mod-data-search form .addon-data-advanced-search .input-md input:focus,
page-addon-mod-data-edit .addon-data-contents form .input-md input:focus,
page-addon-mod-data-edit form .addon-data-advanced-search .input-md input:focus {
    border-bottom-color: #e0001f;
    box-shadow: inset 0 -1px 0 0 #e0001f;
}
page-addon-mod-data-search .addon-data-contents form .input-ios input:focus,
page-addon-mod-data-search form .addon-data-advanced-search .input-ios input:focus,
page-addon-mod-data-edit .addon-data-contents form .input-ios input:focus,
page-addon-mod-data-edit form .addon-data-advanced-search .input-ios input:focus {
    border-bottom-color: #e0001f;
}
page-addon-mod-data-search .addon-data-contents form .input-wp input:focus,
page-addon-mod-data-search form .addon-data-advanced-search .input-wp input:focus,
page-addon-mod-data-edit .addon-data-contents form .input-wp input:focus,
page-addon-mod-data-edit form .addon-data-advanced-search .input-wp input:focus {
    border-color: #e0001f;
}
ion-app.app-root addon-mod-forum-index .addon-forum-discussion-selected {
    border-top: 5px solid #ff1435;
}
ion-app.app-root page-addon-mod-lesson-menu-modal .addon-mod_lesson-selected, ion-app.app-root page-addon-mod-lesson-menu-modal .item.addon-mod_lesson-selected {
    background: #ccd3e6;
}
ion-app.app-root page-addon-mod-lesson-user-retake .addon-mod_lesson-highlight {
    background: #ccd3e6;
}
ion-app.app-root page-addon-mod-lesson-user-retake .addon-mod_lesson-highlight .label, ion-app.app-root page-addon-mod-lesson-user-retake .addon-mod_lesson-highlight .label p {
    color: #00144f;
}
ion-app.app-root addon-mod-quiz-index .addon-mod_quiz-table .addon-mod_quiz-highlighted,
ion-app.app-root addon-mod-quiz-index .addon-mod_quiz-table .item.addon-mod_quiz-highlighted,
ion-app.app-root addon-mod-quiz-index .addon-mod_quiz-table .addon-mod_quiz-highlighted p,
ion-app.app-root addon-mod-quiz-index .addon-mod_quiz-table .item.addon-mod_quiz-highlighted p {
    background-color: #ccd3e6;
    color: #00144f;
}
[dir="ltr"] ion-app.app-root page-addon-mod-quiz-navigation-modal .addon-mod_quiz-selected, [dir="ltr"] ion-app.app-root page-addon-mod-quiz-navigation-modal .item.addon-mod_quiz-selected {
    border-left: 5px solid #ff1435;
}
[dir="rtl"] ion-app.app-root page-addon-mod-quiz-navigation-modal .addon-mod_quiz-selected, [dir="rtl"] ion-app.app-root page-addon-mod-quiz-navigation-modal .item.addon-mod_quiz-selected {
    border-right: 5px solid #ff1435;
}
ion-app.app-root addon-mod-wiki-subwiki-picker .item.addon-mod_wiki-subwiki-selected {
    color: #e0001f;
}
ion-app.app-root addon-mod-wiki-subwiki-picker .item.addon-mod_wiki-subwiki-selected .icon {
    color: #e0001f;
}
[dir="ltr"] ion-app.app-root page-addon-mod-workshop-phase-info .core-workshop-phase-selected {
    border-left: 5px solid #ff1435;
}
[dir="rtl"] ion-app.app-root page-addon-mod-workshop-phase-info .core-workshop-phase-selected {
    border-right: 5px solid #ff1435;
}
addon-qtype-ddimageortext .group2 {
    background-color: #ccd3e6;
}
addon-qtype-ddwtos .group3 {
    background-color: #ccd3e6;
}
ion-app.app-root ion-select {
    color: #e0001f;
}
ion-app.app-root ion-select .select-icon .select-icon-inner {
    color: #e0001f;
}
ion-app.app-root ion-select.core-button-select,
ion-app.app-root .core-button-select {
    color: #e0001f;
}
ion-app.app-root ion-select.core-button-select .select-icon .select-icon-inner,
ion-app.app-root .core-button-select .select-icon .select-icon-inner {
    color: #e0001f;
}
ion-app.app-root .core-primary-card {
    border-bottom: 3px solid #e0001f;
}
ion-app.app-root .core-primary-card[icon-start] ion-icon {
    color: #e0001f;
}
ion-app.app-root .core-primary-item {
    border-bottom: 3px solid #e0001f;
}
ion-app.app-root .core-primary-item ion-icon {
    color: #e0001f;
}
ion-app.app-root .core-primary-circle:before {
    color: #e0001f;
}
ion-app.app-root .text-primary, ion-app.app-root p.text-primary, ion-app.app-root .item p.text-primary, ion-app.app-root .card p.text-primary {
    color: #e0001f;
}
ion-app.app-root .core-info-card {
    border-bottom: 3px solid #002182;
}
ion-app.app-root .core-info-card[icon-start] ion-icon {
    color: #002182;
}
ion-app.app-root .core-info-item {
    border-bottom: 3px solid #002182;
}
ion-app.app-root .core-info-item ion-icon {
    color: #002182;
}
ion-app.app-root .core-info-circle:before {
    color: #002182;
}
ion-app.app-root .text-info, ion-app.app-root p.text-info, ion-app.app-root .item p.text-info, ion-app.app-root .card p.text-info {
    color: #002182;
}
ion-app.app-root.ios .button-ios-light {
    color: #e0001f;
}
ion-app.app-root.md .button-md-light {
    color: #e0001f;
}
ion-app.app-root.wp .button-wp-light {
    color: #e0001f;
}
.fa-primary {
    color: #e0001f;
}
.fa-info {
    color: #002182;
}
ion-app.app-root core-progress-bar progress .progress-bar-fallback span, ion-app.app-root core-progress-bar progress[value]::-webkit-progress-value {
    background-color: #ff1435;
}
[dir="ltr"] ion-app.app-root core-split-view .split-pane-visible .split-pane-side .core-split-item-selected {
    border-left: 5px solid #ff1435;
}
[dir="rtl"] ion-app.app-root core-split-view .split-pane-visible .split-pane-side .core-split-item-selected {
    border-right: 5px solid #ff1435;
}
ion-app.app-root .core-tabs-bar a.tab-slide[aria-selected=true] {
    color: #e0001f;
    border-bottom: 2px solid #e0001f;
}
ion-app.app-root page-core-user-profile .core-user-communication-handlers .core-user-profile-handler {
    color: #e0001f;
}
ion-app.app-root page-core-user-profile .core-user-communication-handlers .core-user-profile-handler .icon {
    background-color: #e0001f;
}
